.app-container {
    padding-left: 1rem;
    /* px-4 */
    padding-right: 1rem;
}

@media (min-width: 640px) {

    /* sm */
    .app-container {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

@media (min-width: 768px) {

    /* md */
    .app-container {
        padding-left: 7vw;
        padding-right: 7vw;
    }
}

@media (min-width: 1024px) {

    /* lg */
    .app-container {
        padding-left: 9vw;
        padding-right: 9vw;
    }
}