.newsletter-container {
    margin-top: 2.5rem;
    /* mt-10 */
    text-align: center;
}

.newsletter-heading {
    font-size: 1.5rem;
    /* text-2xl */
    font-weight: 500;
    /* font-medium */
    color: #1f2937;
    /* text-gray-800 */
}

.newsletter-subheading {
    margin-top: 0.75rem;
    /* mt-3 */
    color: #9ca3af;
    /* text-gray-400 */
}

.newsletter-form {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0.75rem;
    /* gap-3 */
    padding-left: 0.75rem;
    /* pl-3 */
    margin: 1.5rem auto;
    /* mx-auto my-6 */
    border: 1px solid #e5e7eb;
    /* border */
}

@media (min-width: 640px) {

    /* sm:w-1/2 */
    .newsletter-form {
        width: 50%;
    }
}

.newsletter-input {
    width: 100%;
    outline: none;
}

@media (min-width: 640px) {

    /* sm:flex-1 */
    .newsletter-input {
        flex: 1 1 0%;
    }
}

.newsletter-button {
    padding: 1rem 2.5rem;
    /* px-10 py-4 */
    font-size: 0.75rem;
    /* text-xs */
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
}