.related-products-container {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.related-products-header {
    text-align: center;
    margin-bottom: 3rem;
}

.related-products-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    row-gap: 2.5rem;
}

@media (min-width: 768px) {
    .related-products-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .related-products-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1280px) {
    .related-products-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}