.title-container {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    /* gap-2 */
    margin-bottom: 0.75rem;
    /* mb-3 */
}

.title-text {
    color: #6b7280;
    /* text-gray-500 */
}

.title-highlight {
    font-weight: 500;
    /* font-medium */
    color: #374151;
    /* text-gray-700 */
}

.title-line {
    width: 2rem;
    /* w-8 */
    height: 1px;
    /* h-[1px] */
    background-color: #374151;
    /* bg-gray-700 */
}

@media (min-width: 640px) {

    /* sm:w-12 sm:h-[2px] */
    .title-line {
        width: 3rem;
        height: 2px;
    }
}